#fundo {
  background: url("../img/fundo\ texto\ 3.png"),
    linear-gradient(180deg, #38193d 0%, #080d38 100%);
  color: #f5e8da;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
a {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

section {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
